body {
    margin: 0;
}

nav {
    display:flex;
    justify-content: space-evenly;
    margin: 0 20px;
    height: 44px;
    /* padding: 0 22px;    */
    align-items: center;
    background-color: rgba(251, 251, 253, .9);
}

#navBarLinks {
    display: flex;
    align-items: center;
}

#navBarLinks a {
    text-decoration: none;
    color: black;
    margin: 0 16px;
    font-size: 12px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#navBarIcons {
    margin: 0 16px;
}

#hamburger div {
    height: 2px;
    width: 15px;
    background-color: black;
    margin: 5px 0;
}

/* A single image in a background */
.imageInBackground {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    align-items: center;
    width: 100vw;
    height: 692px;
    margin: 0 0 10px;
}

#article01 {
    background-image: url(./images/section01image.jpg);
}

#article02 {
    background-image: url(./images/section02image.jpg);
}

#article03 {
    background-image: url(./images/section03image.jpg);
}

#article04 {
    background-image: url(./images/promo_apple_event_september__c1zbjahmv18i_small.jpg);
}

#article05 {
    background-image: url(./images/promo_iphone14pro_spring__c7pyovk04j2a_small.jpg);
}

#article06 {
    background-image: url(./images/promo_ipadpro_refresh__evi9utuixwuq_small.jpg);
}

#article07 {
    background-image: url(./images/promo_apple_watch_series_8_spring__d9hfvufh7hyu_small.jpg);
}

#article08 {
    background-image: url(./images/promo_airpods_pro_avail__gaxggskofx6y_small.jpg);
}

#article09 {
    background-image: url(./images/iphone_tradein_promo__d5au3rkw5kuq_small.jpg);
}

.textAboveImage {
    padding-top: 50px;
}

.textBelowImage {
    padding-top: 400px;
}

/* Multiple images in a background */
#sixImagesInBackground {
    display: flex;
    flex-wrap: wrap;
}

#sixImagesInBackground article {
    background-repeat: no-repeat;
    background-position: center top;
    width: calc(50% - 10px);
    height: 580px;
    margin: 5px;
}

.headline {
    font-size: 48px;
    font-weight: 600;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0;
}

.subHeading {
    font-size: 24px;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0;
    margin-top: 5px;
}

#sectionLinks {
    width: 225px;
    display: flex;
    justify-content: space-around;
}

.cta-links {
    margin-top: 0.74em;
    font-size: 19px;
    font-weight: 400;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-decoration: none;
    color: blue;
}

.whiteText {
    color: white;
}

footer {
    background-color: #f5f5f7;
}

ul li {
    list-style: none;
}

li {
    font-size: 12px;
    font-weight: 400;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.underline {
    height: 1px;
    width: calc(100% - 30px);
    background-color: black;
    margin: 15px;
}

footer div a {
    margin: 0 15px;
    text-decoration: none;
}

footer div a:hover {
    text-decoration: underline;
    color: red;
    font-size: larger;
    font-weight: bolder;
    
}

@media (max-width: 1065px) {
    .imageInBackground {
        width: 1065px;
    }
}

#hamburger {
    display: none;
}

@media (max-width: 960px) {
    #navBarLinks a {
        display: none;
    }
    #hamburger {
        display: block;
    }
    nav {
        justify-content:space-between;
    }
}

@media (max-width: 700px) {
    #sixImagesInBackground {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    #sixImagesInBackground article {
        width: 100vw;
    }
}

@media (min-width: 1235px) {
    .imageInBackground {
        width: 1235px;
    }
}
